:root {
    --bg-color-lighter: #565462;
    --bg-color-darker: #353538;

    background-image: radial-gradient(
        circle at top center,
        var(--bg-color-lighter),
        var(--bg-color-darker)
    );
    background-color: var(--bg-color-lighter);
    color: white;
    font-family: system-ui;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    height: 100dvh;
}

.media-button {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    border: solid 1px var(--bg-color-lighter);
    border-radius: 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    background-color: var(--bg-color-darker);
}

.branding {
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 10 / 11;
}

.media-controls {
    grid-column: 1 / 4;
    grid-row: 1 / 10;
    gap: 0.5rem;
    padding-top: 1rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
}

button[data-value="UpArrow"] {
    grid-column: 2;
    grid-row: 2;
}
button[data-value="UpArrow"]::after {
    content: "⮝";
}

button[data-value="DownArrow"] {
    grid-column: 2;
    grid-row: 4;
}
button[data-value="DownArrow"]::after {
    content: "⮟";
}

button[data-value="LeftArrow"] {
    grid-column: 1;
    grid-row: 3;
}
button[data-value="LeftArrow"]::after {
    content: "⮜";
}

button[data-value="RightArrow"] {
    grid-column: 3;
    grid-row: 3;
}
button[data-value="RightArrow"]::after {
    content: "⮞";
}

button[data-value="Return"] {
    grid-column: 2;
    grid-row: 3;
    background-color: var(--bg-color-lighter);
}

button[data-value="MediaPrevTrack"] {
    grid-row: 5;
    grid-column: 1;
}
button[data-value="MediaPrevTrack"]::after {
    content: "⏮";
}

button[data-value="MediaPlayPause"] {
    grid-row: 5;
    grid-column: 2;
}
button[data-value="MediaPlayPause"]::after {
    content: "⏯";
}

button[data-value="MediaNextTrack"] {
    grid-row: 5;
    grid-column: 3;
}
button[data-value="MediaNextTrack"]::after {
    content: "⏭";
}

button[data-value="MediaStop"] {
    grid-row: 6;
    grid-column: 2;
}
button[data-value="MediaStop"]::after {
    content: "⏹";
}

button[data-value="VolumeUp"] {
    grid-row: 7;
    grid-column: 3;
}
button[data-value="VolumeUp"]::after {
    content: "🕪";
}

button[data-value="VolumeMute"] {
    grid-row: 8;
    grid-column: 3;
}
button[data-value="VolumeMute"]::after {
    content: "Mute";
    font-size: 1rem;
    font-weight: bold;
}

button[data-value="VolumeDown"] {
    grid-row: 9;
    grid-column: 3;
}
button[data-value="VolumeDown"]::after {
    content: "🕩";
}
